CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
so2_autogen
build/*
!build/.gitkeep
!build/MPK_Sim
docs/diagrams/out
cmake-build-debug
.idea
.DS_Store
